/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: Roboto /* Replace with your custom font */, sans-serif !important;
  /* Add !important to overwrite all elements */
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.cdk-overlay-container {
  position: fixed;
  top: 80px;
  right: 50%;
  left: 50%;
}

@import '@angular/material/theming';

// Include the common styles for Angular Material. Only include once.
@include mat-core();

// Define the custom palettes
$my-app-primary: mat-palette($mat-indigo);
$my-app-accent: mat-palette($mat-pink, A200, A100, A400);
$my-app-warn: mat-palette($mat-red);

// Create the theme object (including all color configurations)
$my-app-theme: mat-light-theme(
    (
      color: (
        primary: $my-app-primary,
        accent: $my-app-accent,
        warn: $my-app-warn
      )
    )
);

// Include theme styles for core and each component used in your app.
@include angular-material-theme($my-app-theme);
